<app-header></app-header>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Autores</th>
      <th scope="col">Categoria</th>
      <th scope="col">Edicion</th>
      <th scope="col">Editorial</th>
      <th scope="col">Isbn</th>
      <th scope="col">Subcategoria</th>
      <th scope="col">Titulo</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <th>{{book.id}}</th>
      <th>{{book.autores}}</th>
      <th>{{book.categoria}}</th>
      <th>{{book.edicion}}</th>
      <th>{{book.editorial}}</th>
      <th>{{book.isbn}}</th>
      <th>{{book.subcategoria}}</th>
      <th>{{book.titulo}}</th>
      <th>
        <button class="btn btn-danger" (click)="deleteBook(book.id)">Eliminar</button>
        <button class="btn btn-warning" (click)="editBook(book)">Editar</button>
      </th>
    </tr>
  </tbody>
</table>
