<div >
    <div class="login-background" >
        <form class="custom-form" >
          <table class="table data-table"   >
            <thead>
              <tr>
    
                <th scope="col">Núm</th>
                <th scope="col">Género</th>
                <th scope="col">Acciones</th>
    
                
              </tr>
            </thead>
            <tbody >
                
              <tr *ngFor="let book  of books">
                
                <!-- <td>{{ books.titulo }}</td>

                <td>
                  <button type="button" class="btn btn-warning btn-sm btn-rounded" (click)="editGen(Libro)">
                    <i class="fas fa-pen"></i>
                  </button>
                  <br>
                  <button type="button" class="btn btn-danger btn-sm btn-rounded" (click)="deleteBook(Libro)">
                    <i class="fas fa-trash"></i>
                  </button>
                </td> -->
       
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
