<div class="container-fluid mt-5">
  <h2 class="text-center mb-4">Lista de Categorías</h2>

  <div class="table-responsive">
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th scope="col" class="text-center border-bottom">Categorías</th>
          <th scope="col" class="text-center border-bottom">Subcategoría</th>
          <th scope="col" class="text-center border-bottom">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let catego of subCategory">
          <tr>
            <td class="text-center border-bottom">{{ catego.category.category }}</td>
            <td class="text-center border-bottom">{{ catego.subcategory }}</td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-link btn-rounded btn-sm fw-bold"
                data-mdb-ripple-color="dark"
                (click)="editSubCategory(catego)">
          Edit
        </button>
        
        <button
        type="button"
        class="btn btn-link btn-rounded btn-sm fw-bold text-danger"
        data-mdb-ripple-color="dark"
        (click)="deleteSubCategory(catego.id)">
        Eliminar
    </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>






