<app-header></app-header>

<div class="container">


 <div class="row row-cols-7">
  <div class="col">
  Titulo
  </div>
  <div class="col">
    Matricula
  </div>
  <div class="col">
    Acciones
  </div>

</div>

 <div class="container" *ngFor="let aparto of aparts">
    <div class="row row-cols-7">
      <div class="col">
        {{ aparto.titulo }}
      </div>
      <div class="col">
        {{ aparto.matricula }}
      </div>

      <div class="col">
        <br>
        <!-- <button type="button" class="btn btn-danger" (click)="deleteApart(aparto.id)">Eliminar</button> -->

        <button type="button" (click)="apartar(aparto)" class="btn btn-warning">Apartar</button>
      </div>
    </div>
  </div>

</div>
