
<div class="container mt-5">
  <h2 class="text-center mb-4">Libros Apartados Admin/Student</h2>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <select class="form-select mb-3" aria-label="Default select example">
          <option selected>Selecciona una opción</option>
          <option value="1">Opción 1</option>
          <option value="2">Opción 2</option>
          <option value="3">Opción 3</option>
        </select>
      </div>
    </div>
  </div>

  <table class="table" *ngIf="role === '1'">
    <thead>
      <tr class="text-white">
        <th scope="col" class="text-center">Título</th>
        <th scope="col" class="text-center">Matrícula del estudiante</th>
        <th scope="col" class="text-center">Estado</th>
        <th scope="col" class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let aparto of allAparts">
        <tr>
          <td class="text-center">{{ aparto.book.title }}</td>
          <td class="text-center">{{ aparto.student.matricula }}</td>
          <td *ngIf="aparto.status === 2" class="text-center">Pendiente</td>
          <td *ngIf="aparto.status === 1" class="text-center">Aceptado</td>
          <td *ngIf="aparto.status === 0" class="text-center">Rechazado</td>

          <td *ngIf="aparto.status === 2" class="text-center">
            <button type="button" class="btn btn-danger" (click)="deleteApart(aparto.id)">Aceptar</button>
            <button type="button" class="btn btn-warning">Rechazar</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <table class="table" *ngIf="role === '2'">
    <thead>
      <tr class="text-white">
        <th scope="col" class="text-center">Título</th>
        <th scope="col" class="text-center">Estado</th>
        <th scope="col" class="text-center">Fecha de aparto</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let aparto of apartsUser">
        <tr>
          <td class="text-center">{{ aparto.book_name }}</td>

          <td *ngIf="aparto.status === 2" class="text-center">Pendiente</td>
          <td *ngIf="aparto.status === 1" class="text-center">Aceptado</td>
          <td *ngIf="aparto.status === 0" class="text-center">Rechazado</td>

          <td class="text-center">{{ aparto.date_set_asaide }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>

</div>
