

/* Estilos para centrar la imagen de fondo */
.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90.2vh;
  background-color: #f8f8f8;
}

.background-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto; /* Añade esta línea para asegurarte de que el ancho se ajuste */
  height: auto; /* Añade esta línea para asegurarte de que la altura se ajuste */
}

/* Estilos para el footer */
.footer {
  background-color: #262626;
  color: #fff;
  padding: 50px 0;
}

.footer-text {
  font-size: 18px;
  line-height: 1.8;
}



.footer-author {
  margin-top: 20px;
  font-size: 14px;
}

/* Agregar reglas de estilo para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .navbar-custom {
    font-size: 14px; /* Ajustar tamaño de fuente para la barra de navegación */
  }

  .background-container {
    height: 60vh; /* Ajustar la altura de la imagen de fondo */
  }

  .footer-text {
    font-size: 14px; /* Ajustar tamaño de fuente para el texto del footer */
  }
}body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.sombra {
  background-color: rgba(122, 62, 72, 0.7);
  padding: 10px; /* Ajuste del espacio interior */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 90%; /* Cambiado a un porcentaje para adaptarse mejor en pantallas pequeñas */
  width: 400px; /* Ancho máximo en pantallas más grandes */
  margin: auto;
}

.sombra:hover {
  transform: scale(1.05);
}

h1 {
  margin: 0;
  color: white;
}



