
<div class="container-fluid p-0 position-relative background-container" style="background-image: url('./assets/imagenes/fondo5.png'); background-size: cover; background-position: center;">
  <div class="container position-absolute top-50 start-50 translate-middle text-center text-white mb-5">
    <div class="sombra">
      <h1 class="mb-4 display-4">"Bienvenido {{name}}"</h1>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="container text-center">
    <h5 class="footer-text">La Biblioteca “Rubén Vasconcelos Beltrán” de la UTVCO es un espacio para el fomento de la lectura, investigación, creatividad y diversas actividades recreativas.</h5>
    <p class="footer-author">© 2023 Biblioteca UTVCO. Todos los derechos reservados.</p>
  </div>
</footer>
