<div class="login background">
    <img src="assets/imagenes/fondolog.png" alt="Fondo de inicio de sesión" class="background-image">

    <form class="custom-form" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <h1><img src="assets/imagenes/logout.png"></h1>
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" placeholder="usuario@gmail.com" id="email" name="email" formControlName="email"/>
        <label for="password" class="form-label">Confirmar contraseña</label>
        <div class="password-container">
            <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" placeholder="Contraseña" id="password" name="password" formControlName="password" />
            <span class="show-password" (click)="VerPassW()">{{ showPassword ? 'Ocultar' : 'Ver' }} Contraseña</span>
        </div>
        <small *ngIf="validarPassword()" class="text-danger small">
          <i class="bi bi-exclamation-triangle-fill me-1"></i> La contraseña debe tener al menos 6 caracteres.
      </small>
      


        <div class="mb-3">
          <!-- <p>
            <a [routerLink]="['/register']"> Registrarse</a>
          </p> -->
        </div>
        <button [disabled]="formLogin.invalid">Iniciar Sesión</button>
    </form>

</div>
