<!--Register-->

<!--<form [formGroup]="formLogin">
  <div class="form-floating mb-3">
    <input formControlName="email" type="text" class="form-control" id="email" placeholder="Hola">
    <label for="email">Email</label>
  </div>

  <div class="form-floating mb-3">
    <input formControlName="password" type="text" class="form-control" id="password" placeholder="houl">
    <label for="password">Password</label>
  </div>


  <div align="center">

    <button [disabled]="formLogin.invalid" (click)="onSubmit"  type="button" class="btn btn-outline-success">Registrar</button>
  </div>
</form>

<h2>Registro de usuario</h2>
<form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email" id="email" placeholder="Email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password">
    </div>
    <input type="submit" value="Regristrar">
</form> 

REGISTRO USUARIO -->
<div class="login background">
  <img src="assets/imagenes/fondolog.png" alt="Fondo de inicio de sesión" class="background-image">
  <form class="custom-form">
      <h1><img src="assets/imagenes/logout.png"></h1>
      <h2>Registrar</h2>
      <label for="email" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" placeholder="usuario@gmail.com" id="email" name="email" formControlName="email" />

      <label for="nombre" class="form-label">Nombre Completo</label>
      <input type="text" class="form-control" placeholder="Nombre y Apellidos" id="nombre" name="nombre" formControlName="nombre" />

      <label for="password" class="form-label">Crear una contraseña</label>
      <div class="password-container">
          <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" placeholder="Contraseña" id="password" name="password" formControlName="password" />
          <span class="show-password" (click)="VerPassW()">{{ showPassword ? 'Ocultar' : 'Ver' }} Contraseña</span>
      </div>

      <label for="password" class="form-label">Confirmar contraseña</label>
      <div class="password-container">
          <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" placeholder="Contraseña" id="password" name="password" formControlName="password" />
          <span class="show-password" (click)="VerPassW()">{{ showPassword ? 'Ocultar' : 'Ver' }} Contraseña</span>
      </div>
      <a href="#" class="link">Ya tienes una cuenta?</a>

      <button>Iniciar Sesión</button>
  </form>
</div>