<app-header></app-header>

<div class="container mt-5">
  <div class="card shadow-lg p-4">
    <h1 class="text-center mb-4">Apartar Libro</h1>

    <form [formGroup]="formApart">

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="titulo" type="text" class="form-control" id="titulo" placeholder=" ">
          <label for="titulo">Título</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="matricula" type="text" class="form-control" id="matricula" placeholder=" ">
          <label for="matricula">Matrícula</label>
        </div>
      </div>


      <div class="d-grid gap-2">
        <button [disabled]="formApart.invalid" (click)="save()" type="button" class="btn btn-success" style="background-color: #7A3E48;">Guardar</button>
      </div>

    </form>
  </div>
</div>
