<app-header></app-header>

<div class="container">

  <h1>Agregar categoria</h1>

  <form [formGroup]="formCategory">


    <div class="form-floating mb-3">
      <input formControlName="category" type="text" class="form-control" id="algo" placeholder="Hola">
      <label for="algo">Escribe el nombre de una nueva categoría</label>
    </div>

    <div align="center">

      <button [disabled]="formCategory.invalid" (click)="option()"  type="button" class="btn btn-outline-success">{{titleBtn}}</button>
    </div>

  </form>

</div>
