<nav class="navbar navbar-expand-lg navbar-light custom-bg-color navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/BibliotecaUTVCO">
      <img src="./assets/imagenes/logoblanco.png" width="70" height="50" class="d-inline-block align-top">
    </a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/BibliotecaUTVCO">
            <i class="fa fa-home"></i> Home
          </a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-book" ></i> <i *ngIf="id_rol === '1'" ></i> Administrar libros
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/BibliotecaUTVCO/add">AGREGAR</a></li>
            <!-- <li><a class="dropdown-item" routerLink="/book/edit">ADMINISTRAR</a></li> -->
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/BibliotecaUTVCO/read">ADMINISTRAR</a></li>
          </ul>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-book" ></i> <i *ngIf="id_rol === '1'" ></i> Prestamos
        
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/BibliotecaUTVCO/prest">Préstamo</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/BibliotecaUTVCO/prelist">Lista de prestamos</a></li>
            </ul>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-book" ></i> <i *ngIf="id_rol === '1'" ></i> Categorías
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/BibliotecaUTVCO/category">Agregar categoria</a></li>
                <li><a class="dropdown-item" routerLink="/BibliotecaUTVCO/category-list">Ver categorias</a></li>
                <li><a class="dropdown-item" routerLink="/BibliotecaUTVCO/subcategory">Agregar Subcategoria</a></li>
                <li><a class="dropdown-item" routerLink="/BibliotecaUTVCO/subcategory-list">Ver Subcategoria</a></li>
              </ul>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-users" ></i> <i *ngIf="id_rol === '1'" ></i> Estudiantes
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="/BibliotecaUTVCO/student">Agregar Estudiantes</a></li>
                    <li><a class="dropdown-item" routerLink="/BibliotecaUTVCO/student-list">Ver estudiantes</a></li>
                  
                </ul>


                <li class="nav-item dropdown">
                  <a  class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-graduation-cap" > </i><i *ngIf="id_rol === '1'" ></i>Carreras
          
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" routerLink="/BibliotecaUTVCO/carrer">Agregar Carreras</a></li>
                    <li><a class="dropdown-item" routerLink="/BibliotecaUTVCO/carrer-list">Ver Carreras</a></li>
                    <!-- <li><a class="dropdown-item" routerLink="/book/edit">ADMINISTRAR</a></li> -->
                  </ul>

                  <li class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-book" ></i>  <i *ngIf="id_rol === '1'" ></i> Administrar Género
    
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink="/BibliotecaUTVCO/genere">Agregar Genero</a></li>
                      <li><a class="dropdown-item" routerLink="/BibliotecaUTVCO/genere-list">Ver Genero</a></li>
                      <!-- <li><a class="dropdown-item" routerLink="/book/edit">ADMINISTRAR</a></li> -->
                    </ul>

                    <li class="nav-item">
                      <a class="nav-link" routerLink="">
                        <i class="fa fa-user"></i> Perfil
                      </a>
                    </li>
              
                    <li class="nav-item">
                      <a class="nav-link"  (click)="salir()">
                        <i class="fa fa-sign-out"></i> Salir
                      </a>
                    </li>
                            
      </ul>
      
    </div>
  </div>
</nav>
