<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
  <a class="navbar-brand"  routerLink="/BibliotecaUTVCO"  href="#">
    <img src="./assets/imagenes/logoblanco.png" width="70" height="50" class="d-inline-block align-top">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/BibliotecaUTVCO">
          <i class="fa fa-home"></i> Home
        </a>
      </li>

       
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLibros" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-book"></i> Administrar Libros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownLibros">
          <a class="dropdown-item" routerLink="/BibliotecaUTVCO/add">AGREGAR</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/BibliotecaUTVCO/read">ADMINISTRAR</a>
          
        </div>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLibros" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-book"></i> Prestamos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownLibros">
            <a class="dropdown-item" routerLink="/BibliotecaUTVCO/prest">Prestamo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/book/edit">ADMINISTRAR</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/BibliotecaUTVCO/prelist">Lista de prestamos</a>
          </div>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLibros" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-book"></i> Administrar Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownLibros">
              <a class="dropdown-item" routerLink="/BibliotecaUTVCO/category">Agregar categoria</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/book/edit">Administrar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/BibliotecaUTVCO/category-list">Ver categoria</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/BibliotecaUTVCO/subcategory">Agregar subcategoria</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/BibliotecaUTVCO/subcategory-list">Ver subcategoria</a>
              
            </div>

         

      <li class="nav-item">
        <a class="nav-link" routerLink="/BibliotecaUTVCO">
          <i class="fa fa-book"></i> Administrar estudiantes
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLibros" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-book"></i> Apartar libro
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownLibros">
          <a class="dropdown-item" routerLink="/BibliotecaUTVCO/apart">Apartar libro</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/BibliotecaUTVCO/apart-list">Lista de apartado</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/book/edit">Administrar</a>
          
        </div>


      <li class="nav-item">
        <a class="nav-link">
          <i class="fa fa-user"></i> Perfil
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  (click)="salir()">
          <i class="fa fa-sign-out"></i> Salir
        </a>
      </li>
      
    </ul>
  </div>
</nav>