<div class="container mt-5 mb-5 d-flex justify-content-center align-items-center">
  <div class="card shadow-lg p-5" style="max-width: 600px; background-color: #f8f9fa; border: 1px solid #ced4da; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; text-align: center; display: flex; flex-direction: column; align-items: center;">

    <h1 class="text-center mb-4" style="font-family: 'Roboto', sans-serif; font-size: 2.5em; color: #333; letter-spacing: 1px;">{{titleText}}</h1>

    <form [formGroup]="formCarrer" class="text-center">

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="carrer_name" type="text" class="form-control" id="carrer_name" placeholder=" " style="width: 300px;">
          <label for="carrer_name" class="d-block text-wrap">Escribe la carrera</label>
        </div>
        <small *ngIf="validarCarrer()" class="text-danger d-block mt-2">*Campo obligatoria</small>

      </div>

      <div class="d-grid gap-2">
        <button [disabled]="formCarrer.invalid" (click)="option()" type="button" class="btn btn-success btn-block" style="background-color: #7A3E48; box-shadow: 0 4px 8px rgba(159, 82, 94, 0.1);">
          {{titleBtn}}
        </button>
      </div>

    </form>

  </div>
</div>
