<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <style>
    
    </style>
</head>

<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="background-image: url('assets/imagenes/literatura.jpg')">
                    <div class="content">
                        <h2>Literatura</h2>
                        <a href="#">Ver Detalles</a>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="card" style="background-image: url('assets/imagenes/juvenil.jpg')">
                    <div class="content">
                        <h2>Juveniles</h2>
                        <a href="#">Ver Detalles</a>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="card" style="background-image: url('assets/imagenes/consulta.jpg')">
                    <div class="content">
                        <h2>Consulta</h2>
                        <a href="#">Ver Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card" style="background-image: url('assets/imagenes/divulgativos.jpg')">
                    <div class="content">
                        <h2>Divulgativos</h2>
                        <a href="#">Ver Detalles</a>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="card" style="background-image: url('assets/imagenes/texto.jpg')">
                    <div class="content">
                        <h2>Texto</h2>
                        <a href="#">Ver Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Asegúrate de incluir Bootstrap y cualquier otro script necesario al final del cuerpo del HTML -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
