/* Estilos globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
  }
  
  /* Estilos del contenedor principal de inicio de sesión */
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  /* Nuevos estilos para la imagen de fondo */
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
  }
  
  /* Estilos del formulario personalizado */
  .custom-form {
    width: 350px;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 40px 30px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  /* Animación de fundido para mostrar el formulario */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Estilos del encabezado del formulario */
  .custom-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #292929;
    padding: 0;
    border: none;
    background: none;
  }
  
  /* Estilos para la imagen dentro del encabezado */
  .custom-form h1 img {
    max-width: 150px;
    height: auto;
  }
  
  /* Estilos para las etiquetas de los campos del formulario */
  .form-label {
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #292929;
  }
  
  /* Estilos para los campos del formulario */
  .form-control {
    display: block;
    height: 45px;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #292929;
    border: 1px solid #ccc;
  }
  
  /* Estilos para el botón de enviar */
  button {
    margin-top: 20px;
    width: 100%;
    background-color: #B95835;
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  
  button:hover {
    background-color: #E18942;
  }
  
  /* Estilos para el enlace de inicio de sesión */
  .login-link {
    margin-top: 15px;
    font-size: 14px;
    color: #528fe4;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  
  /* Estilos para el mensaje de error */
  .error-message {
    color: #ff5252;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
  }
  
  /* Estilos para el contenedor de contraseña */
  .password-container {
    position: relative;
  }
  
  /* Estilos para el botón de mostrar contraseña */
  .show-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 12px;
    color: #528fe4;
  }
  