<div class="container mt-5 mb-5 d-flex justify-content-center align-items-center">
  <div class="card shadow-lg p-5 p-md-5" style="margin-top: 150px; max-width: 1000px; margin-right: 100px; margin-left: 100px;">
    <h1 class="text-center mb-4" style="font-family: 'Roboto', sans-serif; font-size: 2.5em; color: #333; letter-spacing: 1px;">{{titleText}}</h1>

    <form [formGroup]="formDonacion" class="text-center">

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="title" type="text" class="form-control" id="title" placeholder=" ">
          <label for="title" class="d-block text-wrap">Titulo</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="author" type="text" class="form-control" id="author" placeholder=" ">
          <label for="author" class="d-block text-wrap">Author</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="description" type="text" class="form-control" id="description" placeholder=" ">
          <label for="description" class="d-block text-wrap">Descripción</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="copias" type="number" class="form-control" id="copias" placeholder=" ">
          <label for="copias" class="d-block text-wrap">Copias libros</label>
        </div>
      </div>

      <div class="mb-3">
        <select formControlName="carrer_id" class="form-select" aria-label="Default select example">
          <label for="carrer_id">Carrera</label>
          <option *ngFor="let c of carrers" [value]="c.id |number" >{{c.carrer_name}}</option>
        </select>
      </div>

      <div class="d-grid gap-2">
        <button [disabled]="formDonacion.invalid" (click)="option()" type="button" class="btn btn-success" style="background-color: #7A3E48;">{{titleBtn}}</button>
      </div>

    </form>
  </div>
</div>





