<div class="container-fluid mt-5">
  <h2 class="text-center mb-4">Lista de Préstamos</h2>

  <div class="table-responsive">
    <table class="table align-middle mb-0 bg-white" style="width: 100%;">
      <thead class="bg-light">
        <tr>
          <th scope="col" class="text-center border-bottom">ISBN</th>
          <th scope="col" class="text-center border-bottom">Matrícula Estudiante</th>
          <th scope="col" class="text-center border-bottom">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let presta of prests">
          <tr>
            <td class="text-center border-bottom" style="width: 33.33%;">{{ presta.isbn }}</td>
            <td class="text-center border-bottom" style="width: 33.33%;">{{ presta.matriculaEst }}</td>
            <td class="text-center border-bottom">
              <button type="button" class="btn btn-danger btn-sm btn-rounded" style="margin-right: 5px;" (click)="deletePrest(prests)">
                Eliminar
              </button>              
              <button type="button" class="btn btn-warning btn-sm btn-rounded" >
                Editar
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>


