<app-header></app-header>

<div class="container mt-5">
  <h2 class="text-center mb-4">Lista de Préstamos</h2>

  <table class="table">
    <thead>
      <tr class="text-white">
        <th scope="col" class="text-center">ISBN</th>
        <th scope="col" class="text-center">Matrícula Estudiante</th>
        <th scope="col" class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let presta of prests">
        <tr>
          <td class="text-center">{{ presta.isbn }}</td>
          <td class="text-center">{{ presta.matriculaEst }}</td>
          <td class="text-center">
            <button type="button" class="btn btn-danger" (click)="deletePrest(prests)">Eliminar</button>
            <button type="button" class="btn btn-warning">Editar</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
