/* Estilos personalizados para la barra de navegación */
.navbar-custom {
    background-color: #B95835 !important;
  }
  
  
  /* Cambiar color del encabezado de la tabla */
  .table thead th {
    background-color: #D9D9D9;
    color: black; /* Cambiar color del texto a negro */
  }
  
  /* Estilos personalizados para la tabla */
  .table-container {
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Agregar estilos para el contenedor de los botones */
  .button-container {
    display: flex;
    gap: 3px;
  }
  
  .btn-rounded {
    width: 30px; /* Reducir el ancho del botón */
    height: 30px; /* Agregar una altura fija al botón */
    margin: 5px; /* Agregar un margen entre los botones */
    display: inline-flex; /* Cambiar a display inline-flex para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente el contenido del botón */
    align-items: center; /* Centrar verticalmente el contenido del botón */
    text-align: center; /* Alinear el contenido del botón al centro */
    line-height: 1; /* Eliminar el espacio vertical adicional */
  }
  
  .material-symbols-outlined {
    font-size: 20px; /* Tamaño del icono */
    line-height: 1; /* Eliminar el espacio vertical adicional */
  }
  
  
  
  
  .btn-rounded {
    /* ... (otros estilos) ... */
    border-radius: 15px; /* Agregar bordes redondeados */
  }

 /* Estilos para centrar la imagen */
.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.background-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto; /* Añade esta línea para asegurarte de que el ancho se ajuste */
  height: auto; /* Añade esta línea para asegurarte de que la altura se ajuste */
}

/* Estilos para el footer */
.footer {
  background-color: #262626;
  color: #fff;
  padding: 50px 0;
}

.footer-text {
  font-size: 18px;
  line-height: 1.8;
}

.footer-author {
  margin-top: 20px;
  font-size: 14px;
}



