<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interfaz con Angular y Bootstrap</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
    <a class="navbar-brand" href="#">
      <img src="./assets/imagenes/logoblanco.png" width="70" height="50" class="d-inline-block align-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
       
       

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
            libros
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/listalibros']" href="#">Lista de libros</a></li>
            <li><a class="dropdown-item" [routerLink]="['/registroLibro']" href="#">Reguistro de libros</a></li>
            <li><a class="dropdown-item" [routerLink]="['/libros-prestados']" href="#">Libros prestados</a></li>
            <li><a class="dropdown-item" [routerLink]="['/']" href="#">Libros apartados</a></li>


            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        
        
        
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" href="#">
              <i class="fa fa-book"></i> Registro de Estadias
            </a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-sign-out"></i> Salir
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-light btn-sm btn-rounded">
            <span class="material-symbols-outlined">person</span>
          </button>
        </li>
      </ul>
    </div>
  </nav>
  <img src="./assets/imagenes/inicioadmin.png" class="background-container" alt="Imagen descriptiva">

  <footer class="footer">
    <div class="container text-center">
      <h5 class="footer-text">La Biblioteca “Rubén Vasconcelos Beltrán” de la UTVCO es un espacio para el fomento de la lectura, investigación, creatividad y diversas actividades recreativas.</h5>
      <p class="footer-author">© 2023 Biblioteca UTVCO. Todos los derechos reservados.</p>
    </div>
  </footer>
  
  
  
</body>
</html>