<div class="container mt-5">
  <div class="card mx-auto" style="max-width: 600px;">
    
    <div class="card-body text-center">

      <form [formGroup]="formActivateSoftware">

        <div class="mb-4">
          <h5>Clave de Activación</h5>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <input formControlName="key" type="text" class="form-control activation-input" id="activationKey" placeholder="XXXXX-XXXXX-XXXXX-XXXXX-XXXXX" required>
          </div>
          <small *ngIf="formActivateSoftware.get('key').invalid && (formActivateSoftware.get('key').dirty || formActivateSoftware.get('key').touched)" class="text-danger mt-2">Clave de activación requerida</small>
        </div>
        
        

        <div class="d-grid gap-2">
          <button [disabled]="formActivateSoftware.invalid" (click)="activate()" type="button" class="btn btn-success btn-block activation-btn">
            {{titleBtn}}
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
