
<div class="container mt-5">
  <div class="card shadow-lg p-4">
    <h1 class="text-center mb-4">{{titleText}}</h1>

    <form [formGroup]="formSubCategory">

      <div class="mb-3">
        <select formControlName="id_category" class="form-select" aria-label="Default select example">
          <option [value]="c.id" *ngFor="let c of category">{{c.category}}</option>
        </select>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="subcategory" type="text" class="form-control" id="category" placeholder=" ">
          <label for="category">Escribe la subcategoría</label>
        </div>
      </div>

      <!-- Agregar otros campos según sea necesario -->

      <div class="d-grid gap-2">
        <button [disabled]="formSubCategory.invalid" (click)="option()" type="button" class="btn btn-success" style="background-color: #7A3E48;">{{titleBtn}}</button>
        <!--  -->
      </div>

    </form>
  </div>
</div>
