<div class="container mt-5 mb-5 d-flex justify-content-center align-items-center">
  <div class="card shadow-lg p-5 p-md-5" style="margin-top: 150px; max-width: 1000px; margin-right: 100px; margin-left: 100px;">

    <h1 class="text-center mb-4" style="font-family: 'Roboto', sans-serif; font-size: 2.5em; color: #333; letter-spacing: 1px;">{{titleText}}</h1>

    <form [formGroup]="formGenere" class="text-center">

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="genere" type="text" class="form-control" id="genere" placeholder=" ">
          <label for="genere" class="d-block text-wrap">Escribe el género</label>
        </div>
      </div>

      <div class="d-grid gap-2">
        <button [disabled]="formGenere.invalid" (click)="option()" type="button" class="btn btn-success" style="background-color: #7A3E48;">{{titleBtn}}</button>
  
      </div>

    </form>

  </div>
</div>
