<div class="container mt-5">
  <h2 class="text-center mb-4">Lista de Estudiantes</h2>

  <div class="input-group rounded mx-auto w-50">
    <input type="search" class="form-control rounded" id="form1" [(ngModel)]="searchTerm" (input)="filtrarDatos()" placeholder="Buscar estudiantes por Matrícula" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>


  <table class="table">
    <thead>
      <tr class="text-white">
        <th scope="col" class="text-center">Nombre(s)</th>
        <th scope="col" class="text-center">Apellido Paterno</th>
        <th scope="col" class="text-center">Apellido Materno</th>
        <th scope="col" class="text-center">Matricula</th>
        <th scope="col" class="text-center">Telefono</th>
        <th scope="col" class="text-center">Email</th>
        <th scope="col" class="text-center">Genero</th>
        <th scope="col" class="text-center">Carrera</th>
        <th scope="col" class="text-center">Estado</th>
        <th scope="col" class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="filterStudent.length > 0">
      <ng-container *ngFor="let student of filterStudent">
        <tr>
          <td class="text-center">{{ student.name }}</td>
          <td class="text-center">{{ student.lastname_father }}</td>
          <td class="text-center">{{ student.lastname_mother }}</td>
          <td class="text-center">{{ student.matricula }}</td>
          <td class="text-center">{{ student.phone }}</td>
          <td class="text-center">{{ student.email }}</td>
          <td class="text-center">{{ student.genere.genere }}</td>
          <td class="text-center">{{ student.carrer.carrer_name }}</td>
          <td *ngIf="student.status == 1">Activo</td>
          <td *ngIf="student.status == 0">Inactivo</td>
          <td class="text-center border-bottom" style="height: 40px;">
            <div class="d-flex">
              <button
                type="button"
                class="btn btn-link btn-rounded btn-sm fw-bold"
                data-mdb-ripple-color="dark"
                (click)="updateStudent(student)">
                Edit
              </button>

              <button
                type="button"
                class="btn btn-link btn-rounded btn-sm fw-bold text-danger"
                data-mdb-ripple-color="dark"
                (click)="deleteStudent(student.id)">
                Eliminar
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tbody *ngIf="filterStudent.length == 0">
      <tr>
        <td colspan="10" class="text-center">No hay estudiantes registrados con esa matricula</td>
      </tr>
  </table>
</div>
