

<body>
    <div class="perfil">
        <h1>Perfil de Usuario</h1>
        <form>
            <div class="mb-3">
                <div class="form-floating">
                  <input invalid formControlName="subcategoria" type="text" class="form-control" id="subcategoria" placeholder=" ">
                  <label for="subcategoria">Nombre</label>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-floating">
                  <input formControlName="subcategoria" type="text" class="form-control" id="subcategoria" placeholder=" ">
                  <label for="subcategoria">Apellido</label>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-floating">
                  <input formControlName="subcategoria" type="text" class="form-control" id="subcategoria" placeholder=" ">
                  <label for="subcategoria">Correo Electrónico:</label>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-floating">
                  <input formControlName="subcategoria" type="text" class="form-control" id="subcategoria" placeholder=" ">
                  <label for="subcategoria">Matrícula:</label>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-floating">
                  <input formControlName="subcategoria" type="text" class="form-control" id="subcategoria" placeholder=" ">
                  <label for="subcategoria">Grupo:</label>
                </div>
              </div>



            <input type="submit" value="Guardar">
        </form>
    </div>
</body>

