<div class="container d-flex align-items-center justify-content-center" style="height: 70vh;">
  <div class="card bg-light" style="max-width: 18rem; border: none;">
    <div *ngIf="rol == '1'">
      <div *ngIf="userProfileAdmin" class="card-body">
        <h5 class="card-title text-center mb-4">Detalles del Perfil de Administrador</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>ID:</strong> {{ userProfileAdmin.id }}</li>
          <li class="list-group-item"><strong>Nombre:</strong> {{ userProfileAdmin.name }}</li>
          <li class="list-group-item"><strong>Email:</strong> {{ userProfileAdmin.email }}</li>
        </ul>
      </div>
    </div>

    <div *ngIf="rol == '2'">
      <div *ngIf="userProfileStudent" class="card-body">
        <h5 class="card-title text-center mb-4">Detalles del Perfil de Estudiante</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>ID:</strong> {{ userProfileStudent.id }}</li>
          <li class="list-group-item"><strong>Nombre:</strong> {{ userProfileStudent.name }}</li>
          <li class="list-group-item"><strong>Email:</strong> {{ userProfileStudent.email }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
