body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.perfil {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 50%;
}

h1 {
    margin: 0;
}

form {
    margin-top: 20px;
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.foto-perfil {
    text-align: center;
    margin-bottom: 20px;
}

#foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
/* Cambios para centrar el botón */
.cambiar-foto {
    display: flex; /* Contenedor flexible */
    flex-direction: column; /* Elementos apilados verticalmente */
    align-items: center; /* Centrado horizontalmente */
}

label[for="foto-input"] {
    background-color: #B95835;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

label[for="foto-input"]:hover {
    background-color: #B95835;
}

#foto-input {
    display: none;
}



/* Estilo para el botón "Cambiar Foto" */
input[type="submit"], label[for="foto-input"] {
    background-color: #7A3E48;
    color: #fff;
    padding: 8px 12px; /* Ajusta el padding según tus preferencias */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px; /* Ajusta el margen derecho según tus preferencias */
}

input[type="submit"]:hover, label[for="foto-input"]:hover {
    background-color: #593132;
}



/* Estilo para el botón "Guardar" */
input[type="submit"] {
    background-color: #7A3E48;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #593132;
}

@media (max-width: 768px) {
    .perfil {
        width: 80%;
    }
}
