<router-outlet></router-outlet>

<!--
<h1>Prueba</h1>


<h1>Prueba</h1>

<form [formGroup]="formis">


  <div class="form-floating mb-3">
    <input formControlName="algo" type="text" class="form-control" id="algo" placeholder="Hola">
    <label for="algo">Algo</label>
  </div>

  <div class="form-floating mb-3">
    <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="houl">
    <label for="nombre">Nombre</label>
  </div>


  <div align="center">

    <button [disabled]="formis.invalid" (click)="save()"  type="button" class="btn btn-outline-success">guardar</button>
  </div>

</form> -->
