<app-header></app-header>


  <<div class="container">

 <div class="row row-cols-7">
  <div class="col">
  Categorias
  </div>
  <div class="col">
  Acciones
  </div>
</div>

 <!-- <div class="container" *ngFor="let book of books | filtBook:filterBook"> -->
 <div class="container" *ngFor="let catego of categorias">
    <div class="row row-cols-7">
      <div class="col">
        {{ catego.category }}
      </div>
      <div class="col">
        <br>
        <button type="button" class="btn btn-danger" (click)="deleteCategory(catego.id)" >Eliminar</button>
        <!-- <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updateBook(book)">Editar</button> -->
        <button type="button" class="btn btn-warning" (click)="editCatego(catego)">Editar</button>
    </div>
