<div class="container-fluid mt-5">
  <h2 class="text-center mb-4">Lista de libros para donación</h2>

  <div class="table-responsive">
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th scope="col" class="text-center border-bottom">Titulo</th>
          <th scope="col" class="text-center border-bottom">Author</th>
          <th scope="col" class="text-center border-bottom">Descripción</th>
          <th scope="col" class="text-center border-bottom">Copias</th>
          <th scope="col" class="text-center border-bottom">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let donation of donaciones">
          <tr>
            <td class="text-center border-bottom">{{ donation.title }}</td>
            <td class="text-center border-bottom">{{ donation.author }}</td>
            <td class="text-center border-bottom">{{ donation.description }}</td>
            <td class="text-center border-bottom">{{ donation.copias }}</td>
            <td class="text-center border-bottom">
              <!-- <button type="button" class="btn btn-danger btn-sm btn-rounded" style="margin-right: 5px;" (click)="deleteDonacion(donation.id)">
                Eliminar
              </button>
              <button type="button" class="btn btn-warning btn-sm btn-rounded" (click)="editDonacion(donation)">
                Editar
              </button> -->


              <button
              type="button"
              class="btn btn-link btn-rounded btn-sm fw-bold"
              data-mdb-ripple-color="dark"
              (click)="editDonacion(donation)">
        Edit
      </button>

      <button
      type="button"
      class="btn btn-link btn-rounded btn-sm fw-bold text-danger"
      data-mdb-ripple-color="dark"
      (click)="deleteDonacion(donation.id)">
      Eliminar
  </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
