
<div class="container mt-5">
  <div class="card shadow-lg p-4">
    <h1 class="text-center mb-4">{{titleText}}</h1>

    <form [formGroup]="formBook">

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="isbn" type="text" class="form-control" id="isbn" placeholder=" ">
          <label for="isbn">ISBN</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="title" type="text" class="form-control" id="title" placeholder=" ">
          <label for="title">Título</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="author" type="text" class="form-control" id="author" placeholder=" ">
          <label for="author">Autores</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="editorial" type="text" class="form-control" id="editorial" placeholder=" ">
          <label for="editorial">Editorial</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="edition" type="text" class="form-control" id="edition" placeholder=" ">
          <label for="edition">Edición</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="stock" type="text" class="form-control" id="stock" placeholder=" ">
          <label for="stock">Ejemplares</label>
        </div>
      </div>

      <div class="mb-3">
        <select formControlName="id_category" class="form-select" aria-label="Default select example">
          <option *ngFor="let c of categories" [value]="c.id" >{{c.category}}</option>
        </select>
      </div>

      <div class="mb-3">
        <select formControlName="id_subcategory" class="form-select" aria-label="Default select example">
          <option *ngFor="let sc of subcategories" [value]="sc.id" >{{sc.subcategory}}</option>
        </select>
      </div>

      <div class="d-grid gap-2">
        <button [disabled]="formBook.invalid" (click)="option()" type="button" class="btn btn-success" style="background-color: #7A3E48;">{{titleBtn}}</button>
      </div>

    </form>
  </div>
</div>
