<app-header></app-header>

<div class="container mt-5">
  <div class="card shadow-lg p-4">
    <h1 class="text-center mb-4">Agregar Libro</h1>

    <form [formGroup]="formBook">

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="isbn" type="text" class="form-control" id="isbn" placeholder=" ">
          <label for="isbn">ISBN</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="titulo" type="text" class="form-control" id="titulo" placeholder=" ">
          <label for="titulo">Título</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="autores" type="text" class="form-control" id="autores" placeholder=" ">
          <label for="autores">Autores</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="categoria" type="text" class="form-control" id="categoria" placeholder=" ">
          <label for="categoria">Categoría</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="subcategoria" type="text" class="form-control" id="subcategoria" placeholder=" ">
          <label for="subcategoria">Subcategoría</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="editorial" type="text" class="form-control" id="editorial" placeholder=" ">
          <label for="editorial">Editorial</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input formControlName="edicion" type="text" class="form-control" id="edicion" placeholder=" ">
          <label for="edicion">Edición</label>
        </div>
      </div>

      <div class="d-grid gap-2">
        <button [disabled]="formBook.invalid" (click)="option()" type="button" class="btn btn-success" style="background-color: #7A3E48;">Guardar</button>
      </div>

    </form>
  </div>
</div>
